.table-container {
  }
  
  .table-wrapper {
    width: 100%;
    max-height: 92vh;
    overflow-x: auto; /* Enable horizontal scrolling */
  }
  
  .table-wrapper table {
    width: 100%;
    border-collapse: collapse;
    font-size: 16px; 
  }
  
  .table-wrapper th,
  .table-wrapper td {
    border: 1px solid #ddd;
    text-align: left;
  }
  
  .no-data {
    text-align: center;
    font-size: 12px;
    padding: 20px;
  }
  
  /* Sticky header */
  .sticky-header {
    position: sticky;
    top: 0;
    background-color: #f0f0f0; /* Change header background color */
    z-index: 1;
  }
  